<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>ViewBim</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="{% url 'home' %}">HOME</a>
            <a href="#">SERVICES</a>
            <a href="#">PORTFOLIO</a>
            <a href="#">ABOUT US</a>
            <a href="#">RESOURCES</a>
            <a href="#">CONTACT US</a>
        </nav>
    </div>
    <div class="background-img">
        <h1>Be <span id="inspired">Inspired</span>, and create<br>with <span id="passion">Passion</span></h1>
        <p>We are pleased to have the opportunity to submit a proposal to<br> help your company significantly lower its operation cost<br> through outsorcing</p>
        <button class="find-out">Find out more</button>
    </div>
</body>
</html>